{% extends 'regular_page.html.twig' %}

{% block content %}
    <div class="container" id="panel">
        {% set params = app.request.query.all|merge({'page': 1}) %}
        <div class="row py-3 text-right">
            <div class="col-5">
                <form method="get">
                    {% for name, value in app.request.query.all %}
                        {% if name not in ['url', 'page'] %}
                            <input type="hidden" name="{{ name }}" value="{{ value }}">
                        {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-8">
                            <input class="form-control form-control-sm" name="url" value="{{ app.request.get('url') }}"
                                   placeholder="Type domain...">
                        </div>
                        <div class="col text-left">
                            <button type="submit" class="btn btn-sm btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col align-self-end">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="ratedSwitch"
                           {% if app.request.get('rated') %}checked{% endif %}
                           data-on-link="{{ path('panel', params|merge({'rated': true})) }}"
                           data-off-link="{{ path('panel', params|merge({'rated': false})) }}">
                    <label class="custom-control-label" for="ratedSwitch">Show rated domains</label>
                </div>
            </div>
            <div class="col align-self-end">
                <div class="dropdown">
                    {% set info = app.request.get('info') %}
                    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if not info %}Filter by info{% else %}Limit to {{ reasons[app.request.get('info')]|default('unknown') }}{% endif %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('panel', params|merge({'info': null})) }}">Show all</a>
                        {% for value, label in reasons %}
                            <a class="dropdown-item"
                               href="{{ path('panel', params|merge({'info': value})) }}">{{ label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    {% include 'utils/sort_header.html.twig' with {'key': 'created_at', 'label': 'Date'} %}
                    {% include 'utils/sort_header.html.twig' with {'key': 'url', 'label': 'Domain'} %}
                    {% include 'utils/sort_header.html.twig' with {'key': 'dns_created_at', 'label': 'DNS'} %}
                    {% include 'utils/sort_header.html.twig' with {'key': 'google_results', 'label': 'Google'} %}
                    <th scope="col">Stats</th>
                    {% include 'utils/sort_header.html.twig' with {'key': 'rank', 'label': 'Rank'} %}
                    {% include 'utils/sort_header.html.twig' with {'key': 'info', 'label': 'Info'} %}
                </tr>
                </thead>
                <tbody>
                {% for domain in domains %}
                    <tr>
                        <td>
                            {{ domain.created_at|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            <a href="http://{{ domain.url|url_encode }}" target="_blank" rel="noopener noreferrer nofollow">{{ domain.url }}</a>
                        </td>
                        <td>
                            <a {% if domain.dns_created_at == null %}class="btn btn-sm btn-outline-secondary"{% endif %}
                               href="http://whois.domaintools.com/{{ domain.url|url_encode }}" target="_blank"
                               rel="noopener noreferrer nofollow">{{ domain.dns_created_at|default('Whois') }}</a>
                        </td>
                        <td>
                            <a {% if domain.google_results == null %}class="btn btn-sm btn-outline-secondary"{% endif %}
                               href="https://www.google.com/search?q=site%3A{{ domain.url|url_encode }}"
                               rel="noopener noreferrer nofollow" target="_blank">{{ domain.google_results|default('Google') }}</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="https://www.similarweb.com/website/{{ domain.url|url_encode }}" target="_blank"
                               rel="noopener noreferrer nofollow">SimilarWeb</a>
                            <a class="btn btn-sm btn-outline-secondary"
                               href="https://hypestat.com/info/{{ domain.url|url_encode }}"
                               target="_blank" rel="noopener noreferrer nofollow">HypeStat</a>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="rank" data-id="{{ domain.id }}">
                                <option value="-">---</option>
                                <option value="1" {% if domain.rank == 1 %}selected{% endif %}>OK</option>
                                {% for rank in ranks %}
                                    <option value="{{ rank }}"
                                            {% if domain.rank == rank %}selected{% endif %}>{{ (rank*10) }}</option>
                                {% endfor %}
                                <option value="0" {% if domain.rank != null and domain.rank == 0 %}selected{% endif %}>
                                    Banned
                                </option>
                                {% if domain.rank not in ranks|merge([0,1]) %}
                                    <option value="{{ domain.rank }}" selected>{{ (domain.rank*10) }}</option>
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm" name="info" data-id="{{ domain.id }}">
                                <option value="-">---</option>
                                {% for value, label in reasons %}
                                    <option value="{{ value }}"
                                            {% if domain.info == value %}selected{% endif %}>{{ label }}</option>
                                {% endfor %}
                                {% if domain.info != null and domain.info not in reasons|keys %}
                                    <option value="{{ domain.info }}" selected>{{ domain.info }}</option>
                                {% endif %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if not domains %}
            <div class="alert alert-warning" role="alert">
                The list of domains <b>is empty</b>.
            </div>
        {% endif %}
        {% include 'utils/pagination.html.twig' %}
    </div>
{% endblock %}
