{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/app') }}
    {{ encore_entry_link_tags('css/min') }}
{% endblock %}

{% block body_id %}min-page{% endblock %}
{% block body %}
    <section class="text-center">
        <div>
            <header>
                <a href="{{ path('index') }}"><img src="{{ asset('build/images/logo.svg') }}" width="100" class="mb-4" alt="{{ app_name }}"></a>
            </header>
            <div class="content">{% block content %}{% endblock %}</div>
        </div>
        <footer>
            <div class="mt-2 mb-2 py-1 border-top text-muted small">
                <a href="https://adshares.net/" target="_blank" rel="nofollow">Adshares</a> |
                <a href="{{ path('index') }}">{{ app_name }}</a> |
                <a href="{{ path('privacy') }}">Privacy</a> |
                <a href="{{ path('info', {_format: 'html'}) }}">{{ app_version}}</a>
            </div>
        </footer>
    </section>
{% endblock %}
