{% apply spaceless %}
    {% set label = label|default('#') %}
    {% set key = key|default(label) %}
    {% set params = app.request.query.all|merge({'page': 1}) %}
    {% set url = url|default(app.request.get('_route')) %}
    <th scope="col">
        {%  if app.request.get('sort') == key %}
            {%  if app.request.get('order') == 'asc' %}
                <a class="sort-link order-asc" href="{{ path(url, params|merge({'order': 'desc'})) }}">
                    {{ label }}
                    <i class="fas fa-sort-amount-down-alt"></i>
                </a>
            {% else %}
                <a class="sort-link order-desc" href="{{ path(url, params|merge({'order': 'asc'})) }}">
                    {{ label }}
                    <i class="fas fa-sort-amount-down"></i>
                </a>
            {% endif %}
        {% else %}
            <a class="sort-link" href="{{ path(url, params|merge({'sort': key, 'order': 'asc'})) }}">{{ label }}</a>
        {% endif %}
    </th>
{% endapply %}